@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: lightblue;
  text-align: center;
}
h1 {
  text-align: center;
  color: rgb(146, 100, 237);
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid cornflowerblue;
  resize: none;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

main {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  text-align: center;
}
h2 {
  color: lightblue;
}

form {
  max-width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  /* overflow: hidden; */
  background-color: rgba(32, 41, 203, 0.16);
  box-shadow: 0 5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(0,0,0,0.1) ;

}



form label {
  position: relative;
  padding: 5px;
  font-weight: bolder;
}
form input {
  position: relative;
  padding-left: 10px;
  color: blue;
  font-weight: bolder;
  width: 35vw;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.5);
}
.new-form{
  height:70vh;
}
input.placeholder{
  text-align: left;
}

.comments{
  padding-left: 35px;
}
/* .wantToRant{
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.addComment{
  padding-left: 35px;

}
.wantToRant:hover .addRantForm{
  transform: translateY(0);
} */

.deleteCommentBtn{
  background:white;
  border: none;
}

.btnEditDelete{
  background:none;
  border: none; 
  font-size: 2rem;
}